{% ckan_extends %}
{# Breadcrumbs that respect the hierarchy of organizations #}

{% block breadcrumb_content %}
  {% set parent_list =  h.group_tree_parents(c.group_dict.name)  %}
  {% set leafname = c.group_dict.shortname|default(c.group_dict.display_name, true) %}
  <li>{% link_for _('Organizations'), controller='organization', action='index' %}</li> 
  {% for parent_node in parent_list %} 
    <li>{% link_for parent_node.displayname|truncate(45),
      controller='organization', action='read',
      suppress_active_class=true, id=parent_node.id %}</li> 
  {% endfor %} 
  <li class="active">{% link_for leafname|truncate(45), controller='organization', action='read', id=c.group_dict.name %}</li>  
{% endblock %}
{% block content_primary_nav %}
  {{ h.build_nav_icon('organization_read', _('Datasets'), id=c.group_dict.name) }}
  {{ h.build_nav_icon('organization_activity', _('Activity Stream'), id=c.group_dict.name, offset=0) }}
  {{ h.build_nav_icon('organization_about', _('About'), id=c.group_dict.name) }}
{% endblock %}
