{% ckan_extends %}
{# Breadcrumbs that respect the hierarchy of organizations #}

{% block breadcrumb_content %}
  {% set parent_list =  h.group_tree_crumbs(c.group_dict.name)  %}
  <li>{% link_for _('Organizations'), controller='organization', action='index' %}</li> 
  {% for parent_node in parent_list %} 
    <li><a href="{{ parent_node.url }}">{{ parent_node.crumbname }}</a></li>
  {% endfor %} 
{% endblock %}
{% block content_primary_nav %}
  {{ h.build_nav_icon('organization_read', _('Datasets'), id=c.group_dict.name) }}
  {{ h.build_nav_icon('organization_activity', _('Activity Stream'), id=c.group_dict.name, offset=0) }}
  {{ h.build_nav_icon('organization_about', _('About'), id=c.group_dict.name) }}
{% endblock %}
